name: export-and-branch-solution
# Export solution from DEV environment
#  unpack it and prepare, commit and push a git branch with the changes

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write

jobs:
  export-from-dev:
    runs-on: windows-latest
    env:
      RUNNER_DEBUG: 1

    steps:
    - name: Install Power Platform Tools
      uses: microsoft/powerplatform-actions/actions-install@v1

    - name: export-solution action
      uses: microsoft/powerplatform-actions/export-solution@v1
      with:
        environment-url: 'https://org20e0c890.crm4.dynamics.com/'
        user-name: 'geethabojanki@881998.onmicrosoft.com'
        password-secret: ${{ secrets.password }}
        solution-name: pocsolution
        solution-output-file: out/exported/pocsolution.zip

    - name: unpack-solution action
      uses: microsoft/powerplatform-actions/unpack-solution@v1
      with:
        solution-file: out/exported/pocsolution.zip
        solution-folder: out/solutions/pocsolution
        solution-type: 'Unmanaged'
        overwrite-files: true
