name: release-solution-to-prod
# prepare for releasing to prod:
#   convert solution to managed (using a build PowerPlatform environment for the conversion)
#   upload the solution to the GitHub artifacts and deploy to the PROD environment

on:
  workflow_dispatch:
  release:
    types: [created]

permissions:
  contents: write
jobs:
  convert-to-managed:
    runs-on: windows-latest
    env:
      RUNNER_DEBUG: 1

    steps:
    - name: Install Power Platform Tools
      uses: microsoft/powerplatform-actions/actions-install@v1
      
    - name: Pack solution
      uses: microsoft/powerplatform-actions/pack-solution@v0
      with:
        solution-folder: solutions/pocsolution
        solution-file: out/solutions/pocsolution.zip
        solution-type: Unmanaged

    - name: Import solution as unmanaged to build env
      uses: microsoft/powerplatform-actions/import-solution@v0
      with:
        environment-url: 'https://org20e0c890.crm4.dynamics.com/'
        user-name: 'geethabojanki@881998.onmicrosoft.com'
        password-secret: ${{ secrets.password }}
        solution-file: out/solutions/pocsolution.zip
        force-overwrite: true
        publish-changes: true

    - name: Export solution as managed
      uses: microsoft/powerplatform-actions/export-solution@v0
      with:
        environment-url: 'https://org20e0c890.crm4.dynamics.com/'
        user-name: 'geethabojanki@881998.onmicrosoft.com'
        password-secret: ${{ secrets.password }}
        solution-name: pocsolution
        managed: true
        solution-output-file: out/ship/ALMLab.zip

    - name: Upload the ready to ship solution to GH artifact store
      uses: actions/upload-artifact@v2
      with:
        name: managedSolutions
        path: out/ship/pocsolution.zip

  release-to-staging:
    needs: [ convert-to-managed ]
    runs-on: windows-latest
    env:
      RUNNER_DEBUG: 1

    steps:
    - name: Install Power Platform Tools
      uses: microsoft/powerplatform-actions/actions-install@v1

    - name: Fetch the ready to ship solution from GH artifact store
      uses: actions/download-artifact@v2
      with:
        name: managedSolutions
        path: out/release/

    - name: Import solution to prod env
      uses: microsoft/powerplatform-actions/import-solution@v0
      with:
        environment-url: 'https://org20e0c890.crm4.dynamics.com/'
        user-name: 'geethabojanki@881998.onmicrosoft.com'
        password-secret: ${{ secrets.password }}
        solution-file: out/release/pocsolution.zip
        force-overwrite: true
        publish-changes: true
